<%- include('../partials/head', {title: 'Admnistrador de usuarios', stylesheets: ["/css/admin.css", "/css/header.css", "/css/footer.css","/css/detail.css" ]}) %>

    <body>
        <%- include('../partials/admin-header') %>
            </header>
            <main>
                <section class="user-list">
                    <h1>Registro de usuarios</h1>
                    
                    
                    <button class="user-list-addUser"><a href="/user/register">Nuevo Usuario</a><i class="fa-solid fa-plus"></i></button>
                        <section class="user-list-conteiner">
                        <p class="user-list-0">id</p>
                        <p class="user-list-0">Nombre</p>
                        <p class="user-list-0">apellido</p>
                        <p class="user-list-0">UserName</p>
                        <p class="user-list-0">Email</p>
                        <p class="user-list-0">Acciones
                    </p>
                        </section>
                        
                        <% newUser.forEach((users) => { %> 
                        <section class="user-list">
                            <section class="user-list-conteiner">
                                <p class="user-list-01"><%= users.id %></p>
                                <p class="user-list-02"><%= users.firstname %></p>
                                <p class="user-list-03"><%= users.lastname %></p>
                                <p class="user-list-04"><%= users.username %></p>
                                <p class="user-list-05"><%= users.email %></p>
                                <p class="user-list-06">Acciones
                                <a href="/admin/userAdmin/edit/<%= users.id %>">
                                    <button class="productEdit"> <i class="fa-solid fa-pen"></i></button>
                                </a>
                                <form action="/admin/userAdmin/delete/<%= users.id %>?_method=DELETE" method="POST">
                                    <button class="productDelete"> <i class="fa-solid fa-trash"></i></button>
                                </form>
                            </p>
                        </section>
                        <% }) %>

                    <div class="button-div">
                        <button><a href="/admin">Continuar</a><i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>