<%- include('../partials/head', {title: 'Admnistrador de usuarios', stylesheets: ["/css/admin.css", "/css/header.css", "/css/footer.css"]}) %>

    <body>
        <%- include('../partials/admin-header') %>
            </header>
            <main>
                <section class="user-list">
                    <h1>Registro de usuarios</h1>

                    
                    <button class="user-list-addUser">Nuevo Usuario<i class="fa-solid fa-plus"></i></button>
                        <section class="user-list-conteiner">
                        <p class="user-list-0">id</p>
                        <p class="user-list-1">Nombre</p>
                        <p class="user-list-2">apellido</p>
                        <p class="user-list-3">UserName</p>
                        <p class="user-list-4">Email</p>
                        <p class="user-list-5">Acciones
                        <button><i class="fa-solid fa-user-pen"></i></button>
                        <button><i class="fa-solid fa-trash"></i></button></p>
                        </section>
                        
                        <% newUser.forEach((users) => { %>
                        <section class="user-list">
                            <section class="user-list-conteiner">
                                <p class="user-list-0"><%= users.firstname %></p>
                                <p class="user-list-1"><%= users.firstname %></p>
                                <p class="user-list-2"><%= users.lastname %></p>
                                <p class="user-list-3"><%= users.username %></p>
                                <p class="user-list-4"><%= users.email %></p>
                                <p class="user-list-5">Acciones
                                <button><i class="fa-solid fa-user-pen"></i></button>
                                <button><i class="fa-solid fa-trash"></i></button></p>
                        </section>
                        <% }) %>

                    <div class="button-div">
                        <button>Continuar<i class="fa-solid fa-arrow-right"></i></button>
                    </div>
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>