<%- include('../partials/head', {title: "CoolHardware", stylesheets: ["/css/index.css", "/css/header.css", "/css/footer.css", "/css/wrapper.css"]}) %>  

<body>
    <%- include('../partials/header') %>    
    <main>
        <table id="tblDatos">
        <section>
            <div class="container" >
                <% products.forEach((product) => { %>
                    <article class="card">
                        <div>
                            <a class="card-a" href="/products/detail/<%= product.id %>">
                                <img class="card-img" src="/images/products/<%= product.image %>" alt="">
                            </a> 
                        </div>
                        <div class="product-info">
                            <h4><%= product.category.name %> </h4>
                            <h2 class="card-name-prod"><%= product.brand.name %> </h2>
                            <h2 class="card-name-prod"><%= product.name %> </h2>
                            <% if (product.discount > 0) { %>
                                <h4 class="card-price-normal">$<%= product.price %></h4>
                                <p class="card-desc-prod"><%= Math.round(product.discount) %>% OFF</p>
                                <h3 class="card-price-discount">$<%= product.price - product.price * product.discount / 100  %></h3>
                            <% } else { %>
                                <h3 class="card-price-discount">$<%= product.price %></h4>
                            <% } %>
                        </div>
                        <a class="card-a" href="/products/detail/<%= product.id %>">
                            <button>
                                Comprar <i class="fa-solid fa-cart-shopping"></i>
                            </button>
                        </a>
                    </article>
                <% }) %>
                
                <% if (products.length == 0) { %>
                    <h1 class="search-error">No hay productos que coincidan con tu búsqueda</h1>
                <% } %>

            </div>
            
                <div id="paginador" class="paginador"></div>
            </section>
        </table>
        <div class="push"></div>
    </main>
    <%- include('../partials/footer') %>  
    <script src="/js/pagePords.js" type="text/javascript"></script>
</body>

</html>
