<%- include('./partials/head') %>  

<body>
    <%- include('./partials/header') %>  
        <div class="banner">
            <img src="images/black-friday-banner.webp" alt="banner">
        </div>
    </header>
    <main>
        <section>
            <h2 class="card-titulo">¡Ofertas del BLACK FRIDAY!</h2>
            <div class="container">
                <% products.forEach((product, index) => { %>
                    <article class="card">
                        <div>
                            <a href="/productDetail/<%= index %> "><img class="card-img" src="<%= product.imagen %>" alt=""></a> 
                        </div>
                        <div class="product-info">
                            <h2 class="card-name-prod"><%= product.nombre %> </h2>
                            <h4 class="card-price-normal"><%= product.precioSubtotal %></h4>
                            <p class="card-desc-prod"><%= product.descuento %></p>
                            <h3 class="card-price-discount"><%= product.precioTotal %></h3>
                        </div>
                        <button>Comprar<i class="fa-solid fa-cart-shopping"></i></button>
                    </article>
                <% }) %>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>  
</body>

</html>
