<%- include('./partials/head', {title: "CoolHardware", stylesheets: ["/css/index.css", "/css/header.css", "/css/footer.css"]}) %>  

<body>
    <%- include('./partials/header') %>  
    <div class="banner">
        <img src="/images/black-friday-banner.webp" alt="banner">
    </div>    
    <main>
        <section>
            <h2 class="card-titulo">¡Ofertas del BLACK FRIDAY!</h2>
            <div class="container">
                <% products.forEach((product) => { %>
                    <article class="card">
                        <div>
                            <a class="card-a" href="/products/detail/<%= product.id %>">
                                <img class="card-img" src="<%= product.image %>" alt="">
                            </a> 
                        </div>
                        <div class="product-info">
                            <h4><%= product.category %> </h4>
                            <h2 class="card-name-prod"><%= product.brand %> </h2>
                            <h2 class="card-name-prod"><%= product.name %> </h2>
                            <h4 class="card-price-normal">$<%= product.price %></h4>
                            <p class="card-desc-prod"><%= product.discount %>% OFF</p>
                            <h3 class="card-price-discount">$<%= product.price - product.price * product.discount / 100  %></h3>
                        </div>
                        <a class="card-a" href="/products/detail/<%= product.id %>">
                            <button>
                                Comprar <i class="fa-solid fa-cart-shopping"></i>
                            </button>
                        </a>
                    </article>
                <% }) %>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>  
</body>

</html>
