<%- include('../partials/head', {title: 'Administrador', stylesheets: ["/css/admin.css", "/css/index.css", "/css/header.css", "/css/footer.css"]}) %>  

<body>
    <%- include('../partials/admin-header') %>  
        <div class="banner">
            <img src="/images/black-friday-banner.webp" alt="banner">
        </div>
    </header>
    <main>
        <section>
            <h2 class="card-titulo">¡Ofertas del BLACK FRIDAY!</h2>
            <div class="container">
                <% products.forEach((product) => { %>
                    <% if (product.discount > 0) { %>
                        <article class="card">
                            <div>
                                <a class="card-a" href="/products/detail/<%= product.id %>">
                                    <img class="card-img" src="/images/products/<%= product.image %>" alt="">
                                </a> 
                            </div>
                            <div class="product-info">
                                <h4><%= product.category.name %> </h4>
                                <h2 class="card-name-prod"><%= product.brand.name %> </h2>
                                <h2 class="card-name-prod"><%= product.name %> </h2>
                                    <h4 class="card-price-normal">$<%= product.price %></h4>
                                    <p class="card-desc-prod"><%= Math.round(product.discount) %>% OFF</p>
                                    <h3 class="card-price-discount">$<%= product.price - product.price * product.discount / 100  %></h3>
                                
                            </div>
                            <a class="card-a" href="/admin/manageProduct/<%= product.id %>">
                                <button>
                                    Ver <i class="fa-regular fa-eye"></i>
                                </button>
                            </a>
                         </article>
                    <% } %>
                <% }) %>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>  
</body>

</html>
