<%- include('../partials/head', {title: 'Creá un producto', stylesheets: ["/css/admin.css", "/css/form.css", "/css/header.css", "/css/footer.css"]}) %>  

<body>
    <%- include('../partials/admin-header') %>  
</header>
    <main class="all-form-admin">
        <!-- register form -->
        <div class="center"></div>
        <h1>Creacion de producto</h1>
        
        <form action="/admin/createProduct" method="POST" enctype="multipart/form-data" id="form">
            
            <% if (locals.errors && errors.avatar) { %>
                <p  id="errorElement"> <%= errors.avatar.msg %></p>
            <% } %>

            <div class="select_field">
                <label class="select_label">Selecione la marca del producto:</label>
                <span></span>
                <select name="brand">
                    <option value="">-- Marcas --</option>
                    <% brands.forEach((brand) => { %>
                        <option value="<%= brand.id %> "><%= brand.name %> </option>
                    <% }) %>
                </select>
            </div>
            <% if (locals.errors && errors.brand) { %>
                <p  id="errorElement"> <%= errors.brand.msg %></p>
            <% } %>
            
            <div class="txt_field">
                <input type="text" name="name" value="<%= locals.oldData ? oldData.name : null %>">
                <span></span>
                <label>Ingrese el nombre del producto:</label>
            </div>
            <p id="errName"></p>
            <% if (locals.errors && errors.name) { %>
                <p  id="errorElement"> <%= errors.name.msg %></p>
            <% } %>

            <div class="select_field">
                <label class="select_label">Selecione la categoría del producto:</label>
                <span></span>
                <select name="category">
                    <option value="">-- Categorías --</option>
                    <% categories.forEach(category => { %>
                        <option value="<%= category.id %> "><%= category.name %> </option>
                    <% }) %>
                </select>
            </div>
            <p id="errCategory"></p>
            <% if (locals.errors && errors.category) { %>
                <p  id="errorElement"> <%= errors.category.msg %></p>
            <% } %>

            <div class="txt_field">
                <input type="text" name="stock" value="<%= locals.oldData ? oldData.stock : null %>">
                <span></span>
                <label>Ingrese la cantidad de productos disponibles:</label>
            </div>
            <p id="errStock"></p>
            <% if (locals.errors && errors.stock) { %>
                <p  id="errorElement"> <%= errors.stock.msg %></p>
            <% } %>

            <div class="txt_field">
                <input type="text" name="price" value="<%= locals.oldData ? oldData.price : null %>">
                <span></span>
                <label>Ingrese el precio del producto:</label>
            </div>
            <p id="errPrice"></p>
            <% if (locals.errors && errors.price) { %>
                <p  id="errorElement"> <%= errors.price.msg %></p>
            <% } %>

            <div class="txt_field">
                <input type="text" name="discount" value="<%= locals.oldData ? oldData.discount : null %>">
                <span></span>
                <label>Ingrese porcentaje de descuento:</label>
            </div>

            <div class="wrapper-text">
                <textarea name="description" placeholder="Ingrese las caracteristicas de su producto"><%= locals.oldData ? oldData.description : null %></textarea>
            </div>
            <p id="errDiscount"></p>
            <% if (locals.errors && errors.description) { %>
                <p  id="errorElement"> <%= errors.description.msg %></p>
            <% } %>

            <div class="up-load">
                <button type="button" class="btn-warning">
                    <i class="fa-solid fa-file-arrow-up"></i> Subir imagen del producto
                    <input type="file" name="avatar">
                </button>
            </div>

            <input type="submit" value="Subir producto">
            <div class="signup_link">
        </form>
    </main>
    <%- include('../partials/footer') %>  
    
    <script src="/js/registerValidator.js" type="text/javascript"></script>
</body>

</html>