<%- include('../partials/head', {title: 'Admnistrador de usuarios' , stylesheets:["/css/detail.css","/css/admin.css", "/css/header.css" , "/css/footer.css" ,"/css/userList.css"]}) %>

    <body>
        <%- include('../partials/admin-header') %>
            </header>
            <main>

                <section class="list">
                    <h1 class="list-title">Administrador de usuarios</h1>

                    <table class="list-container" id="tblDatos">
                        <tr>
                            <th class="th-category">id</th>
                            <th class="th-category">Nombre</th>
                            <th class="th-category">Apellido</th>
                            <th class="th-category">UserName</th>
                            <th class="th-category">Email</th>
                            <th class="th-category" style="width: 15%;">Acciones</th>
                        </tr>

                        <% newUser.forEach((users)=> { %>
                            <tr>
                                <td class="td-info">
                                    <%= users.id %>
                                </td>
                                <td class="td-info">
                                    <%= users.first_name %>
                                </td>
                                <td class="td-info">
                                    <%= users.last_name %>
                                </td>
                                <td class="td-info">
                                    <%= users.nickname %>
                                </td>
                                <td class="td-info">
                                    <%= users.email %>
                                </td>

                                <td class="td-info">


                                    <form class="updateAdmin"
                                        action="/admin/userAdmin/updateAdmin/<%= users.id %>?_method=PUT" method="POST">
                                        <button class="mod-user">
                                            <% if (users.admin) { %>
                                                <i class="fa-solid fa-user-secret"></i>
                                                <% } else { %>
                                                    <i class="fa-solid fa-user"></i>
                                                    <% } %>
                                        </button>
                                    </form>


                                    <form class="updateAdmin"
                                        action="/admin/userAdmin/delete/<%= users.id %>?_method=DELETE" method="POST">
                                        <button class="del-user"> <i class="fa-solid fa-trash"></i></button>
                                    </form>
                                </td>

                            </tr>
                            <% }) %>

                    </table>

                    <a href="/user/register"><button class="add-user"> Nuevo Usuario <i
                                class="fa-solid fa-plus"></i></button></a>

                    <a href="/admin"><button class="continuar">Continuar <i
                                class="fa-solid fa-arrow-right"></i></button></a>

                    
                        <div id="paginador" class="paginador"></div>
                

                </section>


            </main>
            <%- include('../partials/footer') %>
                <script src="/js/page.js" type="text/javascript"></script>
    </body>

    </html>