<%- include('../partials/head', {title: 'Ingresá', stylesheets: ["/css/form.css", "/css/header.css", "/css/footer.css"]}) %>

<body>
    <%- include('../partials/header') %>
</header>

    <main class="all-form">
        <!-- register form -->
        <div class="center"></div>
        <h1>Inicio de sesion</h1>
        
        <form action="/user/login" method="POST" id="form" > 
            <div class="txt_field">
                <input type="text" name="user" id="user">
                <span></span>
                <label> Nombre de usuario</label>
            </div>
            <p id="errUser"></p>
            <% if (locals.errors && errors.user) { %>
                <p  id="errorElement"> <%= errors.user.msg %></p>
            <% } %> 
            
            <div class="txt_field">
                <input type="password" name="pass" id="pass"> <i class="fa-regular fa-eye-slash" id="showPass"></i>
                <span></span>
                <label>Contraseña</label>
            </div>
            <p id="errPass"></p>
             <% if (locals.errors && errors.pass) { %>
                <p  id="errorElement"> <%= errors.pass.msg %></p>
            <% } %>
            <% if (locals.error) { %>
                <p  id="errorElement"> <%= error %></p>
            <% } %> 
            <div class="pass">Olvidaste tu contraseña?</div>
            <input type="submit" value="Ingresa">
            <div class="signup_link">
                No tenes cuenta? <a href="/user/register">Crea tu cuenta</a>
            </div>
            <p id="log"></p>

        </form>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/userValidator.js" type="text/javascript"></script>
    <script src="/js/ShowHidePass.js" type="text/javascript"></script>
</body>

</html>
