<%- include('../partials/head', {title: 'Creá tu cuenta', stylesheets: ["/css/header.css", "/css/form.css", "/css/footer.css"]}) %>

<body>
    <%- include('../partials/header') %>  
        <!-- <div class="form-banner-register">
            <img src="/images/background-black-design-14.webp" alt="banner">
        </div> -->
    </header>

    <main class="all-form-register">
        <!-- register form -->
        <div class="center"></div>
        <h1>Crea tu cuenta</h1>

        <form action="/user/register" method="POST" enctype="multipart/form-data" id="form" >
            <!-- Username -->
            <div class="txt_field">
                <input type="text" name="firstname" id="firstname" value="<%= locals.oldData ? oldData.firstname : null %>">
                <label>Nombre</label>
                <span></span>
                </div>
                <p id="errFirstname"></p>
            <% if (locals.errors && errors.firstname) { %>
                <p  > <%= errors.firstname.msg %></p>
            <% } %>
            <!-- Nombre y apellido -->
            <div class="txt_field">
                <input type="text" name="lastname" id="lastname" value="<%= locals.oldData ? oldData.lastname : null %>">
                <span></span>
                <label>Apellido</label>
            </div>
            <p id="errLastname"></p>
            <% if (locals.errors && errors.lastname) { %>
                <p  ><%= errors.lastname.msg %></p>
            <% } %>
            <!-- username -->
            <div class="txt_field">
                <input type="text" name="username" id="username" value="<%= locals.oldData ? oldData.username : null %>">
                <span></span>
                <label>Nombre de usuario</label>
            </div>
            <p id="errUsername"></p>

            <% if (locals.errors && errors.username) { %>
                <p  ><%= errors.username.msg %></p>
            <% } %>
            <% if (errorUser) { %>
                <p  ><%= errorUser %></p>
            <% } %>
            <!-- email -->
            <div class="txt_field">
                <input type="text" name="email" id="email" value="<%= locals.oldData ? oldData.email : null %>">
                <span></span>
                <label>Email</label>
            </div>
            <p id="errEmail"></p>
            <% if (locals.errors && errors.email) { %>
                <p  ><%= errors.email.msg %></p>
            <% } %>
            <% if (errorEmail) { %>
                <p><%= errorEmail %></p>
            <% } %>
            <!-- pass --------------------------------------------- -->
            <div class="txt_field">
                <input type="password" name="pass" id="pass" ><i class="fa-regular fa-eye-slash" id="showPass"></i>
                <span></span>
                <label>Contraseña</label>
            </div>
            <p id="errPass"></p>
            <% if (locals.errors && errors.pass) { %>
                <p  ><%= errors.pass.msg %></p>
            <% } %>
            <!-- passConfirm -->
            <div class="txt_field">
                <input type="password" name="passconfirm" id="passConfirm"> 
                <span></span>
                <label>Confirmar Contraseña</label>
            </div>
            <p id="errPassConfirm"></p>
            <% if (locals.errors && errors.passconfirm) { %>
                <p  ><%= errors.passconfirm.msg %></p>
            <% } %>
            <p id="errorElement" ></p>
            <div class="up-load">
                <button type="button" class="btn-warning">
                    <i class="fa-solid fa-file-arrow-up"></i> Subir un avatar
                    <input type="file" name="avatar">
                </button>
            </div>
            <% if (locals.errors && errors.avatar) { %>
                <p ><%= errors.avatar.msg %></p>
            <% } %>

            <input type="submit" value="Ingresa" id="habilitar">
            <div class="signup_link">
                Ya estas registrado? <a href="/user/login">Inicia sesion</a>
            </div>
            
        </form>
    </main>
    <%- include('../partials/footer') %>  
    <script src="/js/registerValidator.js" type="text/javascript"></script>
    <script src="/js/ShowHidePass.js" type="text/javascript"></script>
</body>
</html>
